/* :root {
  --heading-font-size: ;
  /* --heading-color-linear: 
} */
* {
  margin: 0;
  padding: 0;
}
.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#000000, #412567);
  padding: 15px;
}
.nav-bar ul li {
  list-style: none;
}
.nav-bar ul li a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}
.header-section .primary-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#f7e93f, #fb09b4, #9100f8);
  border-radius: 20px;
}
.primary-btn .p-text {
  padding: 12px 40px 12px 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.primary-btn img {
  height: 20px;
}

/* .hero-section .hero-div .img-one {
  height: 750px;
  width: 100%;
  background-image: url(./resources/assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-div .img-two {
  height: 350px;
  background-image: url(./resources/assets/hero-circle.png);

  background-repeat: no-repeat;
  background-position: center;

} */
